pipeline/PL_DATA_RDW_Kenteken.json
{
	"name": "PL_DATA_RDW_Kenteken",
	"properties": {
		"activities": [
			{
				"name": "Fetch RDW CSV",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('X-App-Token: ',activity('Get X-App-Token for RDW data').output.value)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_API_Raw_JSON",
						"type": "DatasetReference",
						"parameters": {
							"RelativeUrl": {
								"value": "@pipeline().parameters.DatasetIdentifier",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Raw_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"Folder": {
								"value": "@variables('RawFolder')",
								"type": "Expression"
							},
							"File": {
								"value": "@concat(variables('FileName'),'.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Timestamp for file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get X-App-Token for RDW data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimestampForFile",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Defined Folder name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DefinedFolder",
					"value": {
						"value": "@concat(pipeline().parameters.Entity,'-',variables('TimestampForFile'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Raw Folder name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RawFolder",
					"value": {
						"value": "@concat(pipeline().parameters.Entity,'-',variables('TimestampForFile'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@concat(pipeline().parameters.Entity,'-',variables('TimestampForFile'),'-',variables('RunID'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get X-App-Token for RDW data",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://rdw-dev.vault.azure.net/secrets/RDW-X-App-Token/e7eca6865c66414fab63c5db5a611609','?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Run ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Timestamp for file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Init RowCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Defined Folder name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Raw Folder name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount",
					"value": 0
				}
			}
		],
		"parameters": {
			"DatasetIdentifier": {
				"type": "string",
				"defaultValue": "m9d7-ebf2.json"
			},
			"Entity": {
				"type": "string",
				"defaultValue": "kenteken"
			},
			"ApiQuery": {
				"type": "string"
			}
		},
		"variables": {
			"DefinedFolder": {
				"type": "String"
			},
			"TimestampForFile": {
				"type": "String"
			},
			"RawFolder": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			},
			"RunID": {
				"type": "String"
			},
			"RowCount": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "RDW"
		},
		"annotations": []
	}
}