pipeline/PL_DATA_RDW_Kenteken.json
{
	"name": "PL_DATA_RDW_Kenteken",
	"properties": {
		"activities": [
			{
				"name": "Fetch RDW CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Raw Folder name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Defined Folder name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('X-App-Token: ',activity('Get X-App-Token for RDW data').output)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RDW_Raw_JSON",
						"type": "DatasetReference",
						"parameters": {
							"RelativeUrl": {
								"value": "@pipeline().parameters.object",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_RDW_Raw",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@variables('RawFolder')",
								"type": "Expression"
							},
							"file": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Timestamp for file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get X-App-Token for RDW data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimestampForFile",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd hh:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Defined Folder name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DefinedFolder",
					"value": {
						"value": "@concat(pipeline().parameters.Entity,variables('TimestampForFile'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Raw Folder name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RawFolder",
					"value": {
						"value": "@concat(pipeline().parameters.Entity,variables('TimestampForFile'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@concat(pipeline().parameters.object,variables('TimestampForFile'),variables('RunID'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get X-App-Token for RDW data",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://rdw-dev.vault.azure.net/secrets/RDW-X-App-Token/e7eca6865c66414fab63c5db5a611609','?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Run ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Timestamp for file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"object": {
				"type": "string",
				"defaultValue": "m9d7-ebf2.json"
			},
			"XAppToken": {
				"type": "string",
				"defaultValue": "0LK235hN8zkXw8RR62aPNdAVt"
			},
			"Entity": {
				"type": "string",
				"defaultValue": "kenteken"
			}
		},
		"variables": {
			"DefinedFolder": {
				"type": "String"
			},
			"TimestampForFile": {
				"type": "String"
			},
			"RawFolder": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			},
			"RunID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "RDW"
		},
		"annotations": []
	}
}