pipeline/PL_DATA_RDW_Kenteken.json
{
	"name": "PL_DATA_RDW_Kenteken",
	"properties": {
		"activities": [
			{
				"name": "Set Timestamp for file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get X-App-Token for RDW data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get User for RDW data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Pass for RDW data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimestampForFile",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Defined Folder name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DefinedFolder",
					"value": {
						"value": "@concat(pipeline().parameters.Entity,'-',variables('TimestampForFile'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Raw Folder name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RawFolder",
					"value": {
						"value": "@concat(pipeline().parameters.Entity,'-',variables('TimestampForFile'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@concat(pipeline().parameters.Entity,'-',variables('TimestampForFile'),'-',variables('RunID'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get X-App-Token for RDW data",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://rdw-dev.vault.azure.net/secrets/RDW-X-App-Token/e7eca6865c66414fab63c5db5a611609','?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Run ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Timestamp for file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Init RowCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Defined Folder name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Raw Folder name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount",
					"value": "0"
				}
			},
			{
				"name": "Total RowCount",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Init RowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://opendata.rdw.nl/resource/',pipeline().parameters.DatasetIdentifier,'?$select=count(*)')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"X-App-Token": {
							"value": "@activity('Get X-App-Token for RDW data').output.value",
							"type": "Expression"
						},
						"Accept": "*/*",
						"Content-Type": "application/json"
					},
					"authentication": {
						"type": "Basic",
						"username": {
							"value": "@activity('Get User for RDW data').output.value",
							"type": "Expression"
						},
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "LS_AKV_dev_RDW",
								"type": "LinkedServiceReference"
							},
							"secretName": "BasicAuthorizationPass"
						}
					}
				}
			},
			{
				"name": "TotalRowCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Total RowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount",
					"value": {
						"value": "@take(activity('Total RowCount').output.Response.count,1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get User for RDW data",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://rdw-dev.vault.azure.net/secrets/BasicAuthorizationUser/c8016f7fdf8843d1a3a52d1c24ea05f1','?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Pass for RDW data",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://rdw-dev.vault.azure.net/secrets/BasicAuthorizationPass/a60afb4c6a20467fa6b80f57786fa742','?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"DatasetIdentifier": {
				"type": "string",
				"defaultValue": "m9d7-ebf2.json"
			},
			"Entity": {
				"type": "string",
				"defaultValue": "kenteken"
			},
			"ApiQuery": {
				"type": "string"
			}
		},
		"variables": {
			"DefinedFolder": {
				"type": "String"
			},
			"TimestampForFile": {
				"type": "String"
			},
			"RawFolder": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			},
			"RunID": {
				"type": "String"
			},
			"RowCount": {
				"type": "String"
			}
		},
		"folder": {
			"name": "RDW"
		},
		"annotations": []
	}
}