ADF-RDW-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-RDW-dev"
		},
		"AzureDataLakeStorage_RDW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage_RDW'"
		},
		"AzureDataLakeStorage_RDW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakestoragegenrdwdev.dfs.core.windows.net/"
		},
		"HTTP_RDW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://opendata.rdw.nl/resource/"
		},
		"LS_AKV_dev_RDW_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://RDW-DEV.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage_RDW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_RDW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage_RDW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_RDW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HTTP_RDW_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AKV_dev_RDW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_AKV_dev_RDW_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RDW_Raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_RDW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": "rdw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_RDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RDW_Raw_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTP_RDW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"object": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().object",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HTTP_RDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RDW_Raw_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTP_RDW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"RelativeUrl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().RelativeUrl",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HTTP_RDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_RDW_Kenteken')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fetch RDW CSV",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Raw Folder name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Defined Folder name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set File Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('X-App-Token: ',activity('Get X-App-Token for RDW data').output.value)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RDW_Raw_JSON",
								"type": "DatasetReference",
								"parameters": {
									"RelativeUrl": {
										"value": "@pipeline().parameters.DatasetIdentifier",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_RDW_Raw",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@variables('RawFolder')",
										"type": "Expression"
									},
									"file": {
										"value": "@variables('FileName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Set Timestamp for file",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get X-App-Token for RDW data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TimestampForFile",
							"value": {
								"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Defined Folder name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Run ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "DefinedFolder",
							"value": {
								"value": "@concat(pipeline().parameters.Entity,'-',variables('TimestampForFile'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Raw Folder name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Run ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RawFolder",
							"value": {
								"value": "@concat(pipeline().parameters.Entity,'-',variables('TimestampForFile'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set File Name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Run ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "FileName",
							"value": {
								"value": "@concat(pipeline().parameters.Entity,'-',variables('TimestampForFile'),'-',variables('RunID'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get X-App-Token for RDW data",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://rdw-dev.vault.azure.net/secrets/RDW-X-App-Token/e7eca6865c66414fab63c5db5a611609','?api-version=7.0')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Run ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Timestamp for file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunID",
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DatasetIdentifier": {
						"type": "string",
						"defaultValue": "m9d7-ebf2.json"
					},
					"Entity": {
						"type": "string",
						"defaultValue": "kenteken"
					}
				},
				"variables": {
					"DefinedFolder": {
						"type": "String"
					},
					"TimestampForFile": {
						"type": "String"
					},
					"RawFolder": {
						"type": "String"
					},
					"FileName": {
						"type": "String"
					},
					"RunID": {
						"type": "String"
					}
				},
				"folder": {
					"name": "RDW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RDW_Raw_JSON')]",
				"[concat(variables('factoryId'), '/datasets/DS_RDW_Raw')]"
			]
		}
	]
}